<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         failOnWarning="true"
         failOnNotice="true"
         bootstrap="./vendor/autoload.php"
         displayDetailsOnAllIssues="true"
>
    <testsuites>
        <testsuite name="Apple ApnPush tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
